@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <select @onchange=@ChangeSelectedCharacter>
                    @foreach (var character in AllCharacters)
                    {
                        <option value=@character>@character</option>
                    }
                </select>
            </Authorized>
        </AuthorizeView>
        <LoginDisplay />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
