@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <select @onchange=@ChangeCharacter>
            @foreach (var character in AllCharacters)
            {
                <option value=@character>@character</option>
            }
        </select>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    string[] AllCharacters = new[] { "Asandra", "Mantas" };
    void ChangeCharacter(ChangeEventArgs e)
    {
        // SOMETHING TO DO HERE
    }
}