@page "/"

<h1>Welcome to WotmudScripts.com</h1>
<h3>The home of Mudlet scripts for Wotmud!</h3>

<p>Inspired by:
    <ul>
        <li>Adael's Mudlet script collection </li>
        <li>House Of Medakan site for z/cMUD (https://sites.google.com/site/houseofmedakan/home)</li>
    </ul>
</p>

